.navbar {
    width: 100%;
    height: 80px;
    background: #171c23;
    font-family: calibri;
    font-size: 20px;
    justify-content: space-between;
   
   
  
  }
  
  .links {
    padding: 9px 16px;
  
     float: right; 
    width: 100%;
    height: 80%;
    display: flex;
   
     align-items: center;     /*vertical axis */
   justify-content: right ;    /* horizaontal space */
    color: white;
    /* margin-right:0%; */
  }

  .name {
   flex-basis: auto;
   text-align: left ;
   margin-right: auto;
   
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 20px;
    font-size: 20px;
  }

  .navbar a:hover {
    color: rgb(215, 29, 215)
  }

  .button {
   background-color: #383538;
    padding: 0.5rem;
    border-radius: 5px;
    
  }

  .button a:hover {
    color: aqua;
  }
  
  
  .toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggleButton svg {
    font-size: 50px;
  }
  .toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    
  }
  
  #open {
    height: 100vh;
  }
  
  #open .links .h1 {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }
  
  @media only screen and (max-width: 900px) {
    .navbar a {
      width: 70px;
    }
  }

  @media only screen and (max-width: 600px) {
    .toggleButton {
      display: flex;
    }
    #close a {
      display: none;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .toggleButton {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links .h1{
      flex-direction: row;
    }
  }