.footer {
  height: 80px;
  background: #171c23;
  display: flex;
  /* justify-content: right;  */
  align-items: center;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.name {
  color: aliceblue;
  font-weight: 100px;
}

.socialMedia {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 25px;
  cursor: pointer;

  opacity: 0.75;
}
.socialMedia :hover {
  opacity: 1;
  color: #3d99be;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }
}
